
.custom-details {
  position: relative;
  background-color: #DFDFE0;
  border-radius: 3px;
}
.custom-details[open] {
  position: relative;
  background-color: #3D4050;
  border-radius: 3px;
}
.custom-details summary{
  padding: 15px;
  color: #272733;
  list-style: none;
}
.custom-details summary::-webkit-details-marker {
  display:none;
}
.custom-details summary::after{
  position: absolute;
  top: 20px;
  right: 11px;
  content: "";
  height: 6px;
  width: 9px;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.93375 1.51079C8.93375 1.43936 8.89803 1.359 8.84446 1.30543L8.39803 0.859C8.34446 0.805429 8.2641 0.769714 8.19268 0.769714C8.12125 0.769714 8.04089 0.805429 7.98732 0.859L4.47839 4.36793L0.969462 0.859C0.91589 0.805429 0.835533 0.769714 0.764105 0.769714C0.683748 0.769714 0.612319 0.805429 0.558748 0.859L0.112319 1.30543C0.0587475 1.359 0.0230331 1.43936 0.0230331 1.51079C0.0230331 1.58221 0.0587475 1.66257 0.112319 1.71614L4.27303 5.87686C4.3266 5.93043 4.40696 5.96614 4.47839 5.96614C4.54982 5.96614 4.63018 5.93043 4.68375 5.87686L8.84446 1.71614C8.89803 1.66257 8.93375 1.58221 8.93375 1.51079Z' fill='black'/%3E%3C/svg%3E");
}
.custom-details[open] summary::after{
  position: absolute;
  top: 20px;
  right: 11px;
  content: "";
  height: 6px;
  width: 9px;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.93373 5.34847C8.93373 5.4199 8.89801 5.50025 8.84444 5.55382L8.39801 6.00025C8.34444 6.05382 8.26408 6.08954 8.19265 6.08954C8.12123 6.08954 8.04087 6.05382 7.9873 6.00025L4.47837 2.49132L0.969439 6.00025C0.915867 6.05382 0.83551 6.08954 0.764082 6.08954C0.683725 6.08954 0.612296 6.05382 0.558725 6.00025L0.112296 5.55382C0.0587246 5.50025 0.0230103 5.4199 0.0230103 5.34847C0.0230103 5.27704 0.0587246 5.19668 0.112296 5.14311L4.27301 0.982396C4.32658 0.928824 4.40694 0.89311 4.47837 0.89311C4.5498 0.89311 4.63015 0.928824 4.68372 0.982396L8.84444 5.14311C8.89801 5.19668 8.93373 5.27704 8.93373 5.34847Z' fill='white'/%3E%3C/svg%3E");
}
.custom-details[open] summary{
  color: #FFFFFF;
}
.custom-details__body {
  position: absolute;
  top:45px;
  background-color: #272733;
  width: 100%;
  border: 1px solid #3D4050;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  max-height: 180px;
  overflow: auto;
}
.custom-details__item {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  padding: 1px 10px;
}
.custom-details__item:hover {
  cursor: pointer;
  color: #42A9ED;
}

