
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700&family=Raleway:wght@400;600;700;800&display=swap');
@import "lato";
@import "reset";
@import "header";
@import "footer";
@import "banner";
@import "order";
@import "customRange";
@import "customSelect";


.container {
  max-width: 1172px;
  margin: 0 auto;
}
@media (max-width:1200px) {
  .container {
    max-width: 1172px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
* {
  font-family: Lato;
}